<!--<div class="container-fluid py-3">-->

<!--<form class="d-flex" >-->

<!--  &lt;!&ndash; Kalendarz z datami (2 kalendarze) Input miasto, liczba miejsc, country&ndash;&gt;-->
<!--  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--  <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--</form>-->
<!--  <table class="table table-bordered table-striped">-->
<!--    <thead class="thead-dark">-->
<!--    <tr>-->
<!--      <th scope="col">#</th>-->
<!--      <th scope="col">Offer Name</th>-->
<!--      <th scope="col">Price</th>-->
<!--      <th scope="col">Description</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let offer of offers; let i = index">-->
<!--      <th scope="row">{{ i + 1 }}</th>-->
<!--      <td>{{ offer.transportID }}</td>-->
<!--      <td>{{ offer.dateStart  }}</td>-->
<!--      <td>{{ offer.dateEnd }}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
