<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1>Gorące Loty</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="catalog">Katalog wycieczek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/MDG369/GoraceLoty" tabindex="-1" aria-disabled="true">Repozytorium projektu</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>Gorace Loty</div>
<div class="container mt-5">
  <h2 class="mb-4">Bootstrap Table Example</h2>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>John</td>
      <td>Doe</td>
      <td>johndoe</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jane</td>
      <td>Smith</td>
      <td>janesmith</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Sam</td>
      <td>Johnson</td>
      <td>samjohnson</td>
    </tr>
    </tbody>
  </table>
</div>
<button (click)="setHotelsString()"></button>
<div>Hotel string: {{hotelsString}}</div>
