<!-- booking-modal.component.html -->
<div class="booking-modal">
  <h2>Book Your Stay</h2>

  <div>
    <label>Adults:</label>
    <button (click)="decrement('numOfAdults')">-</button>
    <span>{{ reservationRequest.numOfAdults }}</span>
    <button (click)="increment('numOfAdults')">+</button>
  </div>

  <div>
    <label>Kids:</label>
    <button (click)="decrement('numOfChildren')">-</button>
    <span>{{ reservationRequest.numOfChildren }}</span>
    <button (click)="increment('numOfChildren')">+</button>
  </div>

  <!-- Adding buttons for different types of rooms -->
  <div>
    <label>Single Rooms:</label>
    <button (click)="decrement('numOfSingleRooms')">-</button>
    <span>{{ reservationRequest.numOfSingleRooms }}</span>
    <button (click)="increment('numOfSingleRooms')">+</button>
  </div>

  <div>
    <label>Double Rooms:</label>
    <button (click)="decrement('numOfDoubleRooms')">-</button>
    <span>{{ reservationRequest.numOfDoubleRooms }}</span>
    <button (click)="increment('numOfDoubleRooms')">+</button>
  </div>

  <div>
    <label>Triple Rooms:</label>
    <button (click)="decrement('numOfTripleRooms')">-</button>
    <span>{{ reservationRequest.numOfTripleRooms }}</span>
    <button (click)="increment('numOfTripleRooms')">+</button>
  </div>

  <div>
    <label>Studios:</label>
    <button (click)="decrement('numOfStudios')">-</button>
    <span>{{ reservationRequest.numOfStudios }}</span>
    <button (click)="increment('numOfStudios')">+</button>
  </div>

  <div>
    <label>Apartments:</label>
    <button (click)="decrement('numOfApartments')">-</button>
    <span>{{ reservationRequest.numOfApartments }}</span>
    <button (click)="increment('numOfApartments')">+</button>
  </div>

  <div>
    <label>Total price:</label>
    <span>{{price }}</span>
  </div>

  <button (click)="reloadPrice()">Reload price</button>
  <button (click)="confirmBooking()">Confirm booking</button>
  <button (click)="close()">Close</button>
</div>
