<!-- booking-modal.component.html -->
<div class="booking-modal row">
  <h2>Book Your Stay</h2>

  <div class="col-12">
    <div class="row">
      <div class="col-3 d-flex">
        <label>Adults:</label>
      </div>
      <div class="col-4 offset-2 d-flex">
        <button class="btn btn-danger" (click)="decrement('numOfAdults')">-</button>
        <span style="padding-left: 1rem; padding-right: 1rem; align-content: space-evenly">{{ reservationRequest.numOfAdults }}</span>
        <button class="btn btn-success" (click)="increment('numOfAdults')">+</button>
      </div>
    </div>
  </div>


  <div class="col-12 ">
    <div class="row">
    <div class="col-3 d-flex">
     <label>Kids:</label>
    </div>
      <div class="col-4 offset-2 d-flex ">
      <button class="btn btn-danger" (click)="decrement('numOfChildren')">-</button>
      <span style="padding-left: 1rem; padding-right: 1rem; align-content: space-evenly">{{ reservationRequest.numOfChildren }}</span>
      <button class="btn btn-success" (click)="increment('numOfChildren')">+</button>
      </div>
    </div>
  </div>

  <!-- Adding buttons for different types of rooms -->
  <div class="col-12">
    <div class="row">
      <div class="col-3 d-flex">
        <label>Single Rooms:</label>
      </div>
      <div class="col-4 offset-2 d-flex">
        <button class="btn btn-danger" (click)="decrement('numOfSingleRooms')">-</button>
        <span style="padding-left: 1rem; padding-right: 1rem; align-content: space-evenly">{{ reservationRequest.numOfSingleRooms }}</span>
        <button class="btn btn-success" (click)="increment('numOfSingleRooms')">+</button>
      </div>
    </div>
  </div>


  <div class="col-12">
    <div class="row">
      <div class="col-3 d-flex">
        <label>Double Rooms:</label>
      </div>
      <div class="col-4 offset-2 d-flex">
        <button class="btn btn-danger" (click)="decrement('numOfDoubleRooms')">-</button>
        <span style="padding-left: 1rem; padding-right: 1rem; align-content: space-evenly">{{ reservationRequest.numOfDoubleRooms }}</span>
        <button class="btn btn-success" (click)="increment('numOfDoubleRooms')">+</button>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-3 d-flex">
        <label>Triple Rooms:</label>
      </div>
      <div class="col-4 offset-2 d-flex">
        <button class="btn btn-danger" (click)="decrement('numOfTripleRooms')">-</button>
        <span style="padding-left: 1rem; padding-right: 1rem; align-content: space-evenly">{{ reservationRequest.numOfTripleRooms }}</span>
        <button class="btn btn-success" (click)="increment('numOfTripleRooms')">+</button>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-3 d-flex">
        <label>Studios:</label>
      </div>
      <div class="col-4 offset-2 d-flex">
        <button class="btn btn-danger" (click)="decrement('numOfStudios')">-</button>
        <span style="padding-left: 1rem; padding-right: 1rem; align-content: space-evenly">{{ reservationRequest.numOfStudios }}</span>
        <button class="btn btn-success" (click)="increment('numOfStudios')">+</button>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-3 d-flex">
        <label>Apartments:</label>
      </div>
      <div class="col-4 offset-2 d-flex">
        <button class="btn btn-danger" (click)="decrement('numOfApartments')">-</button>
        <span style="padding-left: 1rem; padding-right: 1rem; align-content: space-evenly">{{ reservationRequest.numOfApartments }}</span>
        <button class="btn btn-success" (click)="increment('numOfApartments')">+</button>
      </div>
    </div>
  </div>

  <div>
    <label>Total price:</label>
    <span>{{price }}</span>
  </div>

  <button (click)="reloadPrice()">Reload price</button>
  <button (click)="confirmBooking()">Confirm booking</button>
  <button (click)="close()">Close</button>
</div>
